table {
  border-collapse: collapse;
}

tr {
  border: 1px solid gray;
}

.ui_box {
  position:absolute;
  background-color: #DFF8EB;
  margin: 10px;
  border-radius: 5px;
}

.uiHeaders {
  margin-top:0px;
  margin-bottom:10px;
}

#three-canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}